.mainCont{border: 1px solid black;
}
.mainStuff{
	padding: 10em 0em 10em 0em;
	background-color: rgb(51, 153, 102);
}
.row{
	height: 33.33%
}
.gameBoard{
	margin: 0 auto;
	display: table;
	height: 50em;
	width: 50em;
}
.row{
	display: table-row;  
}
.square{
	height: 33%;
	width: 33%;
	font-size: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.whosTurn{
	display: table-cell;
}
.square:hover{
	cursor: pointer;
	background-color: grey;
	color: white;
}
.sq1, .sq2, .sq3, .sq4, .sq5, .sq6{
	border-bottom: 1px solid white;
}
.sq1, .sq2, .sq4, .sq5, .sq7, .sq8{
	border-right: 1px solid white;
} 
